body {
    background-color: black;
    display: flex;

}

.notes-container {
    background-color: white;
    display: flex;
    justify-content: center;
    margin: 5rem 45rem 4rem 45rem;
}

#title-input {
    color: black;
    font-family: sans-serif;
    font-weight: bold;
    border-style: none;
    font-size: 1.5rem;
    padding: 1rem 5rem 1rem 5rem;
    outline: none;

}

#note-input {
    border-style: none;
    font-family: sans-serif;
    margin-top: 1rem;
    padding: 1rem 5rem 4rem 5rem;
    font-size: 1.5rem;
    outline: none;
}


#adds-new-note-button {
    height: 2rem;
    margin-top: 6rem;
    margin-right: 4rem;
}

/*.delete-note-container {
    height: 2rem;
    margin-top: 14rem;
    margin-left: 1rem;

}*/

li:nth-child(even) {
    /* Zebra style. */
    background-color: rgb(186, 182, 182);
}

#added-notes-list {
    color: black;
    list-style: none;
    font-size: 1.5rem;
    font-family: sans-serif;
    margin-left: 2.5rem;
    height: 20rem;
    width: 24rem;
}

.deletes-note-button {
    margin-left: 24rem;
}


@media only screen and (max-width: 600px) {  /* Phone and smaller. */

    .notes-container {
        margin-left: 0rem;
    }

    #added-notes-list {
        margin-left: -2rem;
    }

    .deletes-note-button {
        margin-left: 12rem;
    }

    #adds-new-note-button {
        margin-right: 42rem;

    }
}